*{
    margin: 50px auto;
}

.container{
    width: 60vw;
    font-family: Arial, Helvetica, sans-serif;
}

.form-control{
    resize: none;  
    width: 300px;
    height: 100px;
    font-size: 13px;
}

.card-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 2rem;
}

.card-body{
    margin: 0;

}.btn{
    width: 100px;
}

.buttons{
    display: flex;
    justify-content: center;
}

#boton-generar{
    margin-right: 1rem;
}

@media (max-width: 575.98px) {
    #boton-generar{
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .card-title{
        font-size: 10px;
        text-align: center;
        margin-bottom: 2rem;
    }
}